<div id='showabout'>
        <div class="palm-page-header multi-line">
                <div class="palm-page-header-wrapper">
                        <div id="storyViewTitle" class="title left">About Tiddlywiki</div>
                </div>
        </div>

	<div style="margin: 20px; text-align: justify;">
	This is Tiddlywiki for Palm Pre 1.0.0<br/><br/>

        <!-- Footer -->
        <div id="app-footer" style="text-align: center">
                <hr/>
                &copy; 2010 <a href="http://www.daemon.de/PalmPreTiddlyWiki">Thomas Linden</a>
        </div>        
</div>
