<div id=restore'>
        <div class="palm-page-header multi-line">
	       <div class="palm-page-header-wrapper">
		     <div class="header" id="title">&nbsp;&nbsp;Restore Tiddlywiki Backup</div>
	       </div>
        </div>

	<p>To restore a backup wiki, tap on it. In the wiki, tap the <strong>Save</strong> button to make
	   it your productive version</p>

        <div class="palm-list" style="-webkit-palm-mouse-target: ignore;">
            <div id="BackupList" x-mojo-element="List"></div> 
        </div>
</div>

